*.iml
*.log
*.apk
*.jks
*.hprof
*.keystore

.externalNativeBuild
.DS_Store
.gradle
.idea
.cxx

/build
/captures

local.properties
output.json
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
google-services.json
